@model Jugnoon.Models.ForgotPasswordViewModel
@inject IStringLocalizer<GeneralResource> GeneralResource

@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.Registration> registrationSettings
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@{
    ViewData["Title"] = GeneralResource["_forgot_password"].Value;
}


<section class="h-100 m-t-40 m-b-40">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100 login-page">
            <div class="card-wrapper">
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">@GeneralResource["_forgot_password"].Value</h4>

                        <form asp-controller="auth" asp-action="ForgotPassword" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" placeholder="@GeneralResource["_enter_email"].Value" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <div class="form-text text-muted">
                                    @GeneralResource["_reset_password_msg"].Value @* By clicking "Reset Password" we will send a password reset link *@
                                </div>
                            </div>

                            @if (registrationSettings.Value.enableChapcha)
                            {
                                <div class="form-group">
                                    @Html.Recaptcha(RecaptchaSettings?.Value)
                                </div>
                            }

                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block">
                                    @GeneralResource["_reset_password"].Value
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
