@model Jugnoon.Models.ResetPasswordViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<GeneralResource> GeneralResource
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.Registration> registrationSettings
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@{
    ViewData["Title"] = GeneralResource["_reset_password"].Value;
}

<section class="h-100 m-t-40 m-b-40">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100 login-page">
            <div class="card-wrapper">
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">@GeneralResource["_reset_password"].Value</h4>

                        <form method="post" asp-controller="auth" asp-action="resetpassword">
                            <input asp-for="Code" type="hidden" value="@ViewData["Code"]" />
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" placeholder="@GeneralResource["_enter_email_username"].Value" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" required autofocus data-eye />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="form-text text-muted">
                                    @GeneralResource["_reset_password_page_msg_01"].Value  @* Make sure your password is strong and easy to remember *@ 
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            @if (registrationSettings.Value.enableChapcha)
                            {
                                <div class="form-group">
                                    @Html.Recaptcha(RecaptchaSettings?.Value)
                                </div>
                            }

                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block">
                                    @GeneralResource["_reset_password"].Value
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("~/views/shared/scripts/logineye.cshtml")
}

