@inject IStringLocalizer<GeneralResource> GeneralResource
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.General> generalSettings
@{

    var _bModel = new List<BreadItem>();
    _bModel.Add(new BreadItem()
    {
        title = GeneralResource["_home"].Value,
        url = Config.GetUrl()
    });
    _bModel.Add(new BreadItem()
    {
        title = GeneralResource["_terms_of_service"].Value,
        isActive = true
    });
    var BreadCrumbViewModel = new BreadViewModel()
    {
        BreadItems = _bModel
    };
}
<partial name="~/Views/Shared/_BreadCrumb.cshtml" model="BreadCrumbViewModel" />

<div class="row">
    <div class="col-md-8">
        <h2>@GeneralResource["_terms_of_service"].Value</h2>

        <h3 class="m-t-20"> Introduction.</h3>

        <p>
            These Website Standard Terms And Conditions (these “Terms” or these “Website Standard Terms And Conditions”) contained herein on this webpage, shall govern your use of this website, including all pages within this website (collectively referred to herein below as this “Website”). These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full. You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions.
        </p>

        <p>
            This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not use this Website if you a minor.
        </p>

        <h3 class="m-t-20">
            Intellectual Property Rights.
        </h3>

        <p>
            Other than content you own, which you may have opted to include on this Website, under these Terms, @generalSettings.Value.website_title and/or its licensors own all rights to the intellectual property and material contained in this Website, and all such rights are reserved.
        </p>

        <p>
            You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing the material contained on this Website,
        </p>

        <p>
            PandaTip: If the website is only for viewing, then you might be able to stop where we left off above. That said, you will likely need to provide more in the way of descriptive language around what users may use the website to do/for.
        </p>

        <h3 class="m-t-20">
            Restrictions.
        </h3>

        <ol>
            <li>You are expressly and emphatically restricted from all of the following:</li>
            <li>publishing any Website material in any media;</li>
            <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
            <li>publicly performing and/or showing any Website material;</li>
            <li>using this Website in any way that is, or may be, damaging to this Website;</li>
            <li> using this Website in any way that impacts user access to this Website;</li>
            <li>using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;</li>
            <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website;</li>
            <li>using this Website to engage in any advertising or marketing;</li>
        </ol>
        <p>
            Certain areas of this Website are restricted from access by you and @generalSettings.Value.website_title may further restrict access by you to any areas of this Website, at any time, in its sole and absolute discretion.  Any user ID and password you may have for this Website are confidential and you must maintain confidentiality of such information.
        </p>

        <h3 class="m-t-20">Your Content.</h3>

        <p>
            In these Website Standard Terms And Conditions, “Your Content” shall mean any audio, video, text, images or other material you choose to display on this Website.
        </p>

        <p>
            Your Content must be your own and must not be infringing on any third party’s rights. @generalSettings.Value.website_title reserves the right to remove any of Your Content from this Website at any time, and for any reason, without notice.
        </p>

        <h3 class="m-t-20">
            No warranties.
        </h3>

        <p>
            This Website is provided “as is,” with all faults, and @generalSettings.Value.website_title makes no express or implied representations or warranties, of any kind related to this Website or the materials contained on this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.
        </p>

        <h3 class="m-t-20">
            Limitation of liability.
        </h3>

        <p>
            In no event shall @generalSettings.Value.website_title, nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and @generalSettings.Value.website_title, including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.
        </p>

        <h3 class="m-t-20">
            Indemnification.
        </h3>

        <p>
            You hereby indemnify to the fullest extent @generalSettings.Value.website_title from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these Terms.
        </p>

        <h3 class="m-t-20">
            Severability.
        </h3>

        <p>
            If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.
        </p>

        <h3 class="m-t-20">
            Variation of Terms.
        </h3>

        <p>
            @generalSettings.Value.website_title is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing use of this Website.
        </p>

        <h3 class="m-t-20">
            Assignment.
        </h3>

        <p>
            @generalSettings.Value.website_title shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, .you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
        </p>

        <h3 class="m-t-20">
            Entire Agreement.
        </h3>

        <p>
            These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between @generalSettings.Value.website_title and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.
        </p>

        <h3 class="m-t-20">
            Governing Law & Jurisdiction.
        </h3>

        <p>
            These Terms will be governed by and construed in accordance with the laws of the State of [STATE], and you submit to the non-exclusive jurisdiction of the state and federal courts located in [STATE] for the resolution of any disputes.
        </p>

    </div>
    <div class="col-md-4">
        <ul>
            <li><a href="/terms-of-use">@GeneralResource["_terms_of_service"].Value</a></li>
            <li><a href="/privacy">@GeneralResource["_privacy_policy"].Value</a></li>
        </ul>
        <hr />
        <ul>
            <li><a href="~/security">@GeneralResource["_security"].Value</a></li>
            <li><a href="/gdpr">@GeneralResource["_gdpr_faq"].Value</a></li>
            <li><a href="/cookies">@GeneralResource["_cookies"].Value</a></li>
            <li><a href="/thirdparties">@GeneralResource["_thirdparty_policy"].Value</a></li>
        </ul>
    </div>
</div>

