@inject IStringLocalizer<GeneralResource> GeneralResource
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.General> generalSettings
@{

    var _bModel = new List<BreadItem>();
    _bModel.Add(new BreadItem()
    {
        title = GeneralResource["_home"].Value,
        url = Config.GetUrl()
    });
    _bModel.Add(new BreadItem()
    {
        title = GeneralResource["_security"].Value,
        url = Config.GetUrl("security")
    });
    _bModel.Add(new BreadItem()
    {
        title = GeneralResource["_thirdparty_policy"].Value,
        isActive = true
    });
    var BreadCrumbViewModel = new BreadViewModel()
    {
        BreadItems = _bModel
    };
}
<partial name="~/Views/Shared/_BreadCrumb.cshtml" model="BreadCrumbViewModel" />


<div class="row">
    <div class="col-md-8">
        <h2 class="m-b-10">@GeneralResource["_thirdparty_policy"].Value</h2>
        <p>We rely on the following third party service providers:</p>
        <p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>PROVIDER NAME</th>
                        <th>DESCRIPTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 160px;">Amazon (AWS)</td>
                        <td>Hosts our production servers, media files and backups.</td>
                    </tr>
                  
                    <tr>
                        <td>Google Analytics</td>
                        <td>Used for anonymous usage tracking.</td>
                    </tr>

                    <tr>
                        <td>Disqus</td>
                        <td>Provides a comments section for all blog, articles and wiki posts.</td>
                    </tr>
                    <tr>
                        <td>Login Providers</td>
                        <td>
                            We may use third party login providers like "Google", "Facebook" or "Twitter" as alternative way
                            to login, authenticate and access accounts
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>

        <small>
            Effective as of 12-01-2018
        </small>

    </div>
    <div class="col-md-4">
        <ul>
            <li><a href="/terms-of-use">@GeneralResource["_terms_of_service"].Value</a></li>
            <li><a href="/privacy">@GeneralResource["_privacy_policy"].Value</a></li>
        </ul>
        <hr />
        <ul>
            <li><a href="~/security">@GeneralResource["_security"].Value</a></li>
            <li><a href="/gdpr">@GeneralResource["_gdpr_faq"].Value</a></li>
            <li><a href="/cookies">@GeneralResource["_cookies"].Value</a></li>
            <li><a href="/thirdparties">@GeneralResource["_thirdparty_policy"].Value</a></li>
        </ul>
    </div>
</div>

